

<div class="collection-page slider_wrap">
	<div class="slider_main container">
      <div class="row">      	
      	<div class="col-md-8">
        <div class="collection_banner_content">
            <div clas="col-md-12 thnk">

<h2 class="thnktxt">Congratulations! You should be receiving an email with your <strong>FREE Speak in a Week ebook</strong> shortly. As an added bonus, we'll also be sending you a  <strong>FREE one-week boot camp designed to get you speaking as quickly as possible.</strong></h2>            	           	
           
              <p class="hdr-txt">
In the mean time, feel free to check out our other products. Yes, we charge for these products below, but it doesn't cost you a dime to check them out.= )
 <br /> <br />
                <strong>Thanks, and good luck with your language learning efforts!</strong>
                <br />
                Jonty |  Founder & CEO, OptiLingo
</p>
            </div> 
             
          </div>
        </div>
        <div class="col-md-4">          
      <div class="collection-image">
          	<img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'book-cvr.png' | asset_url }}{% endif %}">
          </div>
         
          
        </div>
      </div>
    </div> 
</div> 



<div class="collection-page slider_wrap">
	<div class="slider_main container">
      <div class="row">      	
      	<div class="col-md-6">
        <div class="collection_banner_content">
            <div class="sldr_cont">
            
            	<a href="https://www.optilingo.com/collections/all" target="_blank" class="pick_btn"> <strong>Pick a language below to get started.<img src="//cdn.shopify.com/s/files/1/1542/5137/t/5/assets/cursr_icon.png" alt=""></strong></a>
<div c="" lass="clearfix">
&nbsp;
</div>
<h2>With Assimil, you’ll go from absolute beginner to confident speaker with <strong>no boring drills, no homework</strong> and <strong>without having to memorize anything.</strong></h2>            	           	
              
            </div> 
             
          </div>
        </div>
        <div class="col-md-6">          
         <!--  <div class="collection-image">
          	<img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'product_page_banner.png' | asset_url }}{% endif %}">
          </div>-->
          <div class="col-sm-6 col-xs-12 bxspcng">
            
           <a href="https://www.optilingo.com/products/assimil-spanish-with-ease-super-pack"> <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'sp-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
           <a href="https://www.optilingo.com/products/assimil-japanese-with-ease-super-pack"> <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'jp-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          
          
          <div class="col-sm-6 col-xs-12 bxspcng">
            <a href="https://www.optilingo.com/products/assimil-french-with-ease-super-pack"> <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'fr-Lng.png' | asset_url }}{% endif %}">
            </a></div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
           <a href="https://www.optilingo.com/products/assimil-hebrew-with-ease-super-pack">  <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'hb-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          
          <div class="col-sm-6 col-xs-12 bxspcng">
           <a href="https://www.optilingo.com/products/assimil-italian-with-ease-super-pack">  <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'it-Lng.png' | asset_url }}{% endif %}">
            </a></div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
            <a href="https://www.optilingo.com/products/assimil-arabic-with-ease-super-pack">  <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'arb-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          
          <div class="col-sm-6 col-xs-12 bxspcng">
            <a href="https://www.optilingo.com/products/assimil-german-with-ease-super-pack"> <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'ger-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
            <a href="https://www.optilingo.com/products/assimil-portuguese-with-ease-super-pack"> <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'brz-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
           <a href="https://www.optilingo.com/products/assimil-chinese-with-ease-super-pack">  <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'chines-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
          <div class="col-sm-6 col-xs-12 bxspcng">
           <a href="https://www.optilingo.com/products/assimil-russian-with-ease-super-pack">  <img src="{% if collection.image %}{{ collection.image | img_url: 'master' }}{% else %}{{ 'russ-Lng.png' | asset_url }}{% endif %}">
            </a> </div>
          
        </div>
      </div>
    </div> 
</div> 
<!--banner sction--> 


{% include 'reviews' %}
